In [1]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sun Jun  9 17:09:58 2019

@author: chris
"""

# This file contains the names and URL of companies to scrape
# Start: emtpy file
# End: companies in SQLite database

# Step1A: Set up a SQLite database
# Step1B: Set up tables in the database
# Step1C: Reading the CSV file and writing to the SQLite file
# Step1D: Additional characteristics can be added to the company info

# code taken from http://www.sqlitetutorial.net/sqlite-python/creating-database/

'\nCreated on Sun Jun  9 17:09:58 2019\n\n@author: chris\n'

In [2]:
import pandas as pd
import sqlite3
from sqlite3 import Error

def read_CSV(file):
    df_CSV = pd.read_csv(file, sep=';')
    print(df_CSV.head())
    return df_CSV

In [3]:
def create_connection(db_file):
    try:
        conn = sqlite3.connect(db_file)
        print("conn open")
        print(sqlite3.version)
        return conn
    except Error as e:
        print(e)

    return None

In [4]:
def write_to_db(df, table, conn):
    df.to_sql(table, conn, if_exists="replace")

In [5]:
def main():
    df_CSV = read_CSV("191005_PilotGroup.csv")
    database = "scrape.db"
    table = "companies"
    conn = create_connection(database)
    write_to_db(df_CSV, table, conn)
    conn.close()

In [6]:
if __name__ == "__main__":
    main()

         Company               Website CountryOfIncorporation MarketDomain  \
0  Starling Bank  www.starlingbank.com                     UK       Europe
1            N26           www.n26.com                Germany       Europe

   Unnamed: 4  Unnamed: 5
0         NaN         NaN
1         NaN         NaN
conn open
2.6.0

/opt/conda/lib/python3.7/site-packages/pandas/core/generic.py:2713: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

In [7]:
pd.read_csv("191005_PilotGroup.csv").head()

  Company;Website;CountryOfIncorporation;MarketDomain;;
0     Starling Bank;www.starlingbank.com;UK;Europe;;
1                   N26;www.n26.com;Germany;Europe;;